.complete{
    color: brown;text-align: center;
}
.khaled{
    padding: 10px; 
}
.time{border: solid 5px crimson;text-align: left; margin-right: 70%;background-color: blueviolet;border-radius: 10px;
    
}
.try{border: solid 5px crimson;text-align: left;margin-right:70%; border-radius: 10px;background-color: blueviolet;

}
.tasks{border: solid 5px crimson;text-align: left; margin-right: 70%;background-color: blueviolet;border-radius: 10px;

}